<h1>Welcome to Innocent Motors!</h1>
<div class="car">
  <img src="https://dzowera.github.io/wdd231/images/images2/delorean.jpg" alt="car" loading="lazy">
  
  <div id="ad-box">
    <h1>DCM Delorean</h1>
    <h2>3 Cuo holders</h2>
    <h2>Superman doors</h2>
    <h2>Fuzzy dice!</h2>
    <button>Own Today</button>
  </div>

</div>

<div class="outer-container">
  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it is almost like travelling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I am feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day" (4.5/5) </li>
      <li>"80's livin and I love it" (5/5)</li>
    </ul>
  </div>

  <div>
    <h2>Delorean Upgrades</h2>
    <div class="accessories-container">

      <div class="items">
        <img src="https://dzowera.github.io/wdd231/images/images2/tools/flux-cap.png" alt="flux-cap">
        <a href="#">Flux Capacitor</a>
      </div>

      <div class="items">
        <img src="https://dzowera.github.io/wdd231/images/images2/tools/flame.jpg" alt="flame decals">
        <a href="#">Flame Decals</a>
      </div>

      <div class="items">
        <img src="https://dzowera.github.io/wdd231/images/images2/tools/bumper_sticker.jpg" alt="bumper_sticker">
        <a href="#">Bumber Stickers</a>
      </div>

      <div class="items">
        <img src="https://dzowera.github.io/wdd231/images/images2/tools/hub-cap.jpg" alt="hub-cap">
        <a href="#">Hub Caps</a>
      </div>
    </div>
    
  </div>
</div>


