<h1>Welcome to Innocent Motors!</h1>
<div class="car">
  <img src="https://dzowera.github.io/wdd131/images/my-picture.jpg" alt="hello">

  <div id="ad-box">
    <h1>DCM Delorean</h1>
    <h2>3 Cuo holders</h2>
    <h2>Superman doors</h2>
    <h2>Fuzzy dice!</h2>
    <button>Own Today</button>
  </div>
</div>

<div class="reviews">
  <h2>DMC Delorean Reviews</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lor em ipsum dolor sit amet.</li>
  </ul>
  
</div>

<div>
  <h2>Delorean Upgrades</h2>
  <div class="accessories-container">

    <div class="items">
      <img src="Hello" alt="ge">
      <a href="#">Hello</a>
    </div>

    <div class="items">
      <img src="Hello" alt="ge">
      <a href="#">Hello</a>
    </div>

    <div class="items">
      <img src="Hello" alt="ge">
      <a href="#">Hello</a>
    </div>

    <div class="items">
      <img src="Hello" alt="ge">
      <a href="#">Hello</a>
    </div>
  </div>
  
</div>



<style>
  .car{
    position: relative;
  }
  #ad-box{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    color: blue;
   
    background-color: rgba(255, 255, 255, 0.8);
    
  }
  #ad-box button{
    background-color: blue;
    color: black;
    border: none;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
  
  .accessories-container{
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 20px;
    row-gap: 20px;
  }
  .items a{
    text-decoration: underline;
    color: blue;
  }
</style>