/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* ----------- The Header ---------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .siteName a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  }
  #tools a{
    font-weight: bold;
  }

/* ---------- Navigation -----------*/
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    height: 40px;
  }
  nav ul li{
    list-style: none;
    margin: 0;
    cursor: pointer;
  }

  /* The Main Content */

  body{
    background-color: rgb(225, 225, 225);
  }

  h1{
    font-size: 20px;
  }
  
  .car{
    position: relative;
  }

  .car img{
    width: 100%;
    /* object-fit: contain; */
  }

  #ad-box{
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 20px;
    color: blue;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 6px;
  }

  #ad-box button{
    background-color: blue;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
  
  .accessories-container{
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 20px;
    row-gap: 30px;
    text-align: center;
  }
  
  .items{
    height: 100px;
    width: 100px;
    text-align: center;
  }

  .items img{
    width: 90px;
    height: 90px;
    object-fit: contain;
    display: block;
    background-color: blue;
    padding: 20px;
    
  }
  .items a{
    text-decoration: underline;
    color: blue;
    white-space: nowrap;
  }


  /* LARGE SIZE */
  @media only screen and (min-width: 701px){
     h1{
      font-size: large;
    }
    .car{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .car img{
      width: 75%;
    }
    #ad-box{
      font-size: 12px;
    }
    .outer-container{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
    #ad-box{
      left: 200px;
    }

    .reviews ul li{
    margin-bottom: 35px;
    }
  }