<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
  

  <main>
    <h1><%= title %></h1>
    <p><%- message %></p>
    <p>Oops! Something went wrong. Maybe the car you are looking for drove off already 🚗💨</p>
  </main>
</body>
</html>